body{
    margin: 0;
}

.container{
    display: inline-block;
    margin: 0;
    width: 100%;
    background-color: aqua;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo-link{
    float: left;
    margin-left: 5%;
}

.logo-default,
.logo-red{
    height: 30px;
    object-fit: contain;
}

.logo-link > .logo-default,
.logo-link:hover > .logo-red{
    display: block;
}

.logo-link > .logo-red,
.logo-link:hover > .logo-default{
    display: none;
}

.drop-down{
    float: right;
    margin-right: 5%;
    font-size: 20px;
    line-height: 1em;
    text-decoration: none;
    color: #000;
    margin-top: calc(15px - 0.5em);
}

.logo-link,
.drop-down{
    margin-top: 40px;
}
.main-container{
    display: inline-block;
    font-size: 150px;
    line-height: 1em;
    margin: 0;
}
.main-picture{
    height: 0.75em;
    margin-right: -0.28em;
    margin-left: -0.51em;
}